.food-item{
    width: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(134, 128, 128);
    transition: 0.3s;
    animation: fadeIn 1s;
}
.food-item-image{
    width: 100%;
    border-radius: 10px 10px;
}
.food-item-info{
    padding: 20px;
}
/*Food ko name*/
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
.food-item-desc{
    color: #676767;
    font-size: 14px;
}
.food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}