.navbar {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 40px;
  color: #49577e;
  font-size: 22px;
}
.navbar li {
  cursor: pointer;
}
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  flex-grow: 1; /* Push this section to the right */
}

.narbar-search-icon {
  position: relative;
  display: flex;
  align-items: center;
}
.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49577e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 35px;
}
.navbar button:hover {
  background-color: rgb(238, 201, 201);
}
.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px ;
    top:-8px;
    right: -8px;
}