.navbar{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49577e;
    font-size: 22px;
    
}
.navbar-menu li:hover{
    color: darkblue;
    cursor: pointer;

}