.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
    margin-right: 30px;
}
.place-order-left{
    width: 90%;
    max-width: max(30%,500px);
    margin-left: 30px;
}