.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/header.jpg") no-repeat;
  background-size: 100%;
  position: relative;
  width: 100%;
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}
.header p {
  font-size: 25px;
  color: rgb(217, 224, 217);
}
.header h1 {
  color: rgb(249, 250, 249);
  font-weight: 500;
  font-size: max(4.5vw, 22px);
}
.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}
